<div class="container home">
  <div id="topRatedCarousel" class="carousel slide mt-0 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      @for (movie of topRatedMovies; track movie.id) {
        <div class="carousel-item" [class.active]="movie.id == topRatedMovies[0].id">
          <img [src]="'https://image.tmdb.org/t/p/w780' + movie.backdrop_path" class="d-block w-100" alt="{{ movie.title }}">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ movie.title }}</h5>
          </div>
        </div>
      }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#topRatedCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#topRatedCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="movies">
    <h4 class="my-4 ps-5">Películas populares</h4>
  
    @if (popularMovies.length === 0) {
      <p>Cargando películas...</p>
    }
  
    <div class="scroll-container gap-4 px-5">
      @for (movie of popularMovies; track movie.id) {
        <div class="movie-card">
          <a routerLink="/movie/{{ movie.id }}">
            <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{ movie.title }}">
            <h6 class="mt-3">{{ movie.title }}</h6>
            <p class="text-secondary"> {{ movie.release_date }}</p>
          </a>
        </div>
      }
    </div>
  </div>
  
</div>
