.home {
  width: 100%; /* Ocupa el 100% del ancho */
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.carousel-item {
  text-align: center;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 10px;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-inner img {
  max-height: 400px; /* Ajustar el tamaño de las imágenes */
  object-fit: cover;
}

.movies img {
  width: 200px;
}


