.home {
  width: 100%; /* Ocupa el 100% del ancho */
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.carousel-item {
  text-align: center;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 10px;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-inner img {
  max-height: 450px; /* Ajustar el tamaño de las imágenes */
  object-fit: cover;
}

.movies {
  background: url(../images/Captura\ desde\ 2025-02-13\ 21-49-00.png);
}

.movies img {
  width: 160px;
}


.scroll-container {
  display: flex;
  gap: 15px;
  overflow-x: auto; /* Scroll horizontal */
  padding-bottom: 10px;
  scrollbar-width: thin; /* Reduce el tamaño del scrollbar */
  scrollbar-color: #ccc transparent; /* Color del scrollbar */
}

h4 {
  font-weight: bold;
}