.home {
  padding-top: 20px;
  width: 100%; /* Ocupa el 100% del ancho */
  max-width: 1500px; 
  margin: 0 auto; /* Centra el contenedor principal */
  text-align: center;
}

.movies {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.movie-card {
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

