<nav class="navbar">
    <div class="barra container m-0">
        <div class="logo">
          <span><a routerLink="home">TMDB</a></span>
        </div>
        <ul class="nav-links gap-4 justify-content-center">

          <!-- Menú desplegable de Películas -->
          <li class="dropdown">
            <a routerLink="/search">Películas</a>
            <ul class="dropdown-menu">
              <li><a routerLink="/movies/popular">Popular</a></li>
              <li><a routerLink="/movies/now-playing">En cartelera</a></li>
            </ul>
          </li>

          <!-- Menú desplegable de Gente -->
          <li class="dropdown">
            <a routerLink="/favorites">Gente</a>
            <ul class="dropdown-menu">
              <li><a routerLink="/people/popular">Gente Popular</a></li>
            </ul>
          </li>

          <!-- Menú para el formulario de contacto -->
          <li>
            <a routerLink="/contact">Contacto</a>
          </li>
        </ul>
    </div>
</nav>


<div class="subNav align-items-center">
  <div class="container input-group">
    <span class="input-group-text">
      <i class="bi bi-search"></i> <!-- Icono de lupa -->
    </span>
    <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Buscar una película, serie, persona..." (keyup.enter)="buscar()">
  </div>
</div>
  