.navbar {
  display: flex;
  justify-content: center; /* Centra el contenido de la barra */
  padding: 15px;
  margin: -8px;
  background: #032541;
  align-items: center;
  color: white;
}

.logo {
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(125deg, #ff6f61, #d147a3, #1e90ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.logo a{
  text-decoration: none;
  color: inherit;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 15.5px;
  text-align: center;
  align-items: center;

  &:hover {
    color: #d147a3; /* Color verde tipo Spotify */
  }
}


/* AQUÍ COMENZAMOS CON LA BARRA DE BÚSQUEDA */

.subNav {
  padding: 13px 0 7px;
  border-bottom: 1px solid lightgray;
}

input {
  border: none;
  width: 100%;
}

.barra {
  margin: 0 auto;
}

.input-group-text {
  background: transparent;
  border: none;
  padding: 0 10px; /* Espaciado interno */
}

.input-group .form-control {
  border: none ;
  box-shadow: none;
  font-style: italic;
  color: rgb(192, 192, 192);
}

.form-control::placeholder {
  color: rgb(192, 192, 192); /* Color gris para que se vea elegante */
}