<nav class="navbar">
    <div class="barra container m-0">
        <div class="logo">
          <span><a routerLink="home">TMDB</a></span>
        </div>
        <ul class="nav-links gap-4 justify-content-center">
          <li><a routerLink="home">Inicio</a></li>
          <li><a routerLink="/search">Buscar</a></li>
          <li><a routerLink="/favorites">Favoritos</a></li>
        </ul>
    </div>
</nav>

<div class="subNav align-items-center">
  <div class="container input-group">
    <span class="input-group-text">
      <i class="bi bi-search"></i> <!-- Icono de lupa -->
    </span>
    <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Buscar una película, serie, persona..." (keyup.enter)="buscar()">
  </div>
</div>
  