<div class="container search-results">
    <h2 class="my-4">Resultados para "{{ query }}"</h2>
  
    @if (searchMovies.length == 0) {
      <p class="text-center">No se encontraron resultados.</p>
    }

    <h3 class="mb-4">Actores</h3>
    @for (actor of searchActors; track actor.id) {
      <div class="search-card">
        <img [src]="'https://image.tmdb.org/t/p/w200' + actor.profile_path" alt="{{ actor.name }}">
        <div class="search-card-info">
          <h4>{{ actor.name }}</h4>
          <p class="text-muted">Conocido por: {{ actor.known_for_department }}</p>
        </div>
      </div>
    }
    
    <h3 class="mt-5 mb-4">Películas</h3>
    @for (movie of searchMovies; track movie.id) {
      <div class="search-card">
        <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt="{{ movie.title }}">
        <div class="search-card-info">
          <h4>{{ movie.title }}</h4>
          <p class="text-muted">Fecha de lanzamiento: {{ movie.release_date }}</p>
          <p>{{ movie.overview }}</p>
        </div>
      </div>
    }
</div>
  