.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajuste dinámico */
  gap: 20px; /* Espacio entre las tarjetas */
}

.movie-card-link {
  text-decoration: none; /* Quitar subrayado del enlace */
}

.movie-card {
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: #fff;
  height: 350px;
}

.movie-card:hover {
    transform: scale(1.03);
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Para que la imagen se recorte correctamente */
}

.movie-info {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.movie-info h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}


/* Estilos para la biografía */
.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 10; /* Limita a 3 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Muestra '...' al final si el texto es muy largo */
}
