.cast-container {
    width: 100%; /* Ocupa el 100% del ancho */
}

.cast-card img {
    width: 100%;
    height: 180px; /* Altura fija para la imagen */
    object-fit: cover; /* Recortar la imagen para que se ajuste */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cast-card a {
    text-decoration: none;
    color: inherit;
}

.scroll-container {
    display: flex;
    overflow-x: auto; /* Scroll horizontal */
}

.scroll-container a {
    text-decoration: none;
    color: inherit;
}

h4, h2, h5 {
    font-weight: bold;
}

p {
    color: rgba(255, 255, 255, 0.747);
}

.cast-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px; /* Fija el ancho de las tarjetas */
    height: 290px;
    flex: 0 0 auto; /* No se estiran */
    transition: transform 0.2s ease;
}

.cast-card:hover {
    transform: scale(1.03); /* Efecto hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.movie-detail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 20px;
    color: white;
}

/* Overlay oscuro */
.movie-detail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

/* Asegurar que el contenido esté sobre el fondo */
.movie-detail > div {
    position: relative;
    z-index: 1;
}

/* Estilo para el botón de favorito */
.btn-favorite {
  background: none;
  border: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Efecto hover */
.btn-favorite:hover {
  color: #ff4081; /* Rosa cuando el mouse pasa por encima */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

/* Estilo para el ícono de corazón */
.bi-heart, .bi-heart-fill {
  font-size: 30px; /* Tamaño grande para el ícono */
}

.bi-heart-fill {
  color: #ff4081; /* Color rosa cuando está marcado como favorito */
}

.bi-heart {
  color: white; /* Corazón vacío en blanco */
}



/* Estilo para la sección de películas */
.card {
    border: none;
}

.card-img-top{
    width: 100%;
    border-radius: 10px;
}

.card-body {
    padding: 10px;
    border: none;
}