.cast-container {
    width: 100%; /* Ocupa el 100% del ancho */
}

.cast-card img {
    width: 100%;
    height: 180px; /* Altura fija para la imagen */
    object-fit: cover; /* Recortar la imagen para que se ajuste */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cast-card a {
    text-decoration: none;
    color: inherit;
}

.scroll-container {
    display: flex;
    overflow-x: auto; /* Scroll horizontal */
}

.scroll-container a {
    text-decoration: none;
    color: inherit;
}

h4 {
    font-weight: bold;
}

.cast-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px; /* Fija el ancho de las tarjetas */
    height: 290px;
    flex: 0 0 auto; /* No se estiran */
    transition: transform 0.2s ease;
}

.cast-card:hover {
    transform: scale(1.03); /* Efecto hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.movie-detail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    padding: 20px;
    color: white;
}

/* Overlay oscuro */
.movie-detail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

/* Asegurar que el contenido esté sobre el fondo */
.movie-detail > div {
    position: relative;
    z-index: 1;
}
